body {
background-color: #000000;
}
.Fenster {
width: 40.625em;
height: auto;
margin: auto;
background: #111111;
border-style: none;
}
.Überschrift {
font-family: "courier", monospace;
color: #e8e6e3;
font-size: 2.25em;
font-weight: bold;
text-align: center;
}
.Bild {
text-align: center;
width: 40.625em;
height: auto;
}
.Video {
text-align: center;
}
.Text {
font-family: "courier", monospace;
color: #e8e6e3;
font-size: 1em;
font-weight: bold;
text-align: center;
padding-left: 1.5em;
padding-right: 1.5em;
}
.Weiter {
font-family: "arial", sans-serif;
color: #e8e6e3;
font-size: 1.5em;
padding-left: 1.25em;
}
.Befehl { 
font-size: 1.5em;
}
a {
font-family: "arial", sans-serif;
font-size: 0.8em;
color: #0066cc;
}
a:hover {
color: #0000ee;
}
.Trenn::after {
content: " | ";
color: #e8e6e3;
font-size: 1em;
}
.Links {
padding-left: 1em;
}
@media only screen and (max-width: 680px) {
.Fenster {
width: 90vw;
height: auto;
margin: auto;
background: #111111;
}
.Bild {
position: relative;
text-align: center;
width: 100%;
height: auto;
text-align: center;
}
.Text {
padding-left: 0.3125em;
padding-right: 0.3125em;
}
.Weiter {
padding-left: 0.625em;
}
}
