body {
background-color: #000000;
}

.Bild {
position: relative;
width: 100vw;

}
.Box {
background: #222222;
border-style: hidden;
margin: auto;
position: relative;
width: 40.625rem;
}

.Text {
color: #e8e6e3;
font-family: "courier";
font-size: 0.875rem;
font-weight: bold;
text-align: center;
padding-left: 1.5rem;
padding-right: 1.5rem;
}

.Überschrift {
color: #e8e6e3;
font-family: "courier";
font-size: 2rem;
font-weight: bold;
text-align: center;
}

.Untertext {
text-decoration: none;
font-size: 1.125rem;
font-family: "Verdana";
padding-left: 1.5rem;
}

.Weiter {
color: #e8e6e3;
font-family: "arial";
font-size: 1.5rem;
padding-left: 1.25rem;
}

a.Linktext:link {
font-size: 0.85em;
}

.Weiterunten {
color: #e8e6e3;
font-family: "arial";
font-size: 0.85rem;
padding-left: 1.25rem;
}

@media screen and (max-width:700px) {

body {
background-color: #000000;
}

.Bild {
position: relative;
width: 100%;

}
.Box {
background: #222222;
border-style: hidden;
position: relative;
width: 100%;
}

.Text {
color: #e8e6e3;
font-family: "courier";
font-size: 0.875rem;
font-weight: bold;
text-align: center;
padding-left: 1.5rem;
padding-right: 1.5rem;
}

.Überschrift {
color: #e8e6e3;
font-family: "courier";
font-size: 2rem;
font-weight: bold;
text-align: center;
}

.Untertext {
text-decoration: none;
font-size: 1.125rem;
font-family: "Verdana";
padding-left: 1.5rem;
}

.Weiter {
color: #e8e6e3;
font-family: "arial";
font-size: 1.5rem;
padding-left: 1.25rem;
}

a.Linktext:link {
font-size: 0.85em;
}

.Weiterunten {
color: #e8e6e3;
font-family: "arial";
font-size: 0.85rem;
padding-left: 1.25rem;
}
}
