body {
background-color: #000000;
}

.Fenster {
width: 40.625em;
height: auto;
margin: auto;
background: #222222;
border-style: none;
}

.Überschrift {
font-family: "courier", monospace;
color: #e8e6e3;
font-size: 2em;
font-weight: bold;
text-align: center;
}

.Bild {
text-align: center;
width: 40.625em;
height: auto;
}

.Video {
text-align: center;
}

.Text {
font-family: "courier", monospace;
color: #e8e6e3;
font-size: 1em;
font-weight: bold;
text-align: center;
padding-left: 1.5em;
padding-right: 1.5em;
}

.Weiter {
font-family: "arial", sans-serif;
color: #e8e6e3;
font-size: 1.5em;
padding-left: 1.25em;
}

.Befehl { 
font-family: "arial", sans-serif;
font-size: 1.5em;
}

.Weiterunten {
color: #e8e6e3;
font-family: "verdana", sans-serif;
font-size: 0.85em;
}

@media only screen and (max-width: 670px) {

body {
background-color: #FF0000;
}

.Fenster {
width: 95vw;
height: auto;
background: #222222;
border-style: none;
}

.Bild {
text-align: center;
width: 95vw;
height: auto;
}
}
