body {
background-color: #000000;
}

ul {
font-family: "courier-new", monospace;
color: #e8e6e3;
font-size: 1em;
font-weight: bold;
}

hr {
width: 95vw;
color: #e8e6e3;
font-weight: bold;
}

a:link {
text-decoration: none;
}

a:hover {
color: #0000ee;
text-decoration: underline;
}

.Fenster {
width: 95vw;
height: auto;
margin: auto;
background: #111111;
border-style: none;
}

.Überschrift {
font-family: "courier", monospace;
color: #e8e6e3;
font-size: 2em;
font-weight: bold;
text-align: center;
}

.Text {
text-align: center;
font-family: "courier-new", monospace;
color: #e8e6e3;
font-size: 1em;
font-weight: bold;
}

.V {
text-align: center;
color: #e8e6e3;
border-left: 0.0625em solid #e8e6e3;
}
